ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #2d94ff;
   display: flex;
  justify-content: center;
}
ul li a {
  display: inline;
  justify-items: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  
}
  .logo-img {
  height: 50px; /* Control the logo size here */
  width: auto;  /* Maintains aspect ratio */
}
  .icon-img {
  height: 25px; /* Control the icon size here */
  width: auto;  /* Maintains ratio of the shape*/
  margin: auto;
}

